[submodule "SolidarityHub"]
	path = SolidarityHub
	url = https://github.com/Juguitoo/SolidarityHub
	branch = main
[submodule "SolidarityHubTareas"]
	path = SolidarityHubTareas
	url = https://github.com/Juguitoo/SolidarityHubTareas
	branch = main
[submodule "SolidarityHubMap"]
	path = SolidarityHubMap
	url = https://github.com/Luubstar/SolidarityHubMap
	branch = main
